@model IEnumerable<Ev3_Y_O_C.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Usuarios</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Correo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.Id">Eliminar</a> |
                    <a asp-action="Details" asp-route-id="@usuario.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
